name: proto-ci
on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ "v*" ]

jobs:
  lint-and-generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1
      - run: buf lint
      - run: buf breaking --against '.git#branch=main' || true
      - run: buf generate
      - name: Upload gen artifact
        uses: actions/upload-artifact@v4
        with:
          name: proto-gen
          path: gen
